<button class="btn btn-outline-dark" (click)="doLoad()">Passo 2</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let header of tableHeaderP2">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <td *ngFor="let row of tableRowP2">
      <ng-template ngFor let-item [ngForOf]="row" let-f="fist">
        <tr scope="row" *ngIf="f">{{row[0]}}</tr>
        <tr>{{item}}</tr>
      </ng-template>
    </td>
  </tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" *ngFor="let header of tableHeaderP3">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <td *ngFor="let row of tableRowP3">
      <ng-template ngFor let-item [ngForOf]="row" let-f="fist">
        <tr scope="col" *ngIf="f">{{row[0]}}</tr>
        <tr>{{item}}</tr>
      </ng-template>
    </td>
  </tbody>
</table>

<h4 *ngIf="tableRowMaiorMarcador.length > 0">Precedência do marcador</h4>
<div class="row">
  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngIf="tableRowMaiorMarcador.length > 0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableRowMaiorMarcador">
          <ng-template ngFor let-item [ngForOf]="row" let-f="fist">
            <tr scope="col" *ngIf="f">{{row[0]}}</tr>
            <td>{{item}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" *ngIf="tableRowMenorMarcador.length > 0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableRowMenorMarcador">
          <ng-template ngFor let-item [ngForOf]="row" let-f="fist">
            <tr scope="col" *ngIf="f">{{row[0]}}</tr>
            <td>{{item}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
