<div class="form-inline">
  <div class="form-group mb-2">  
    <label for="inputRecognition">Entrada: </label>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input id="inputRecognition" class="form-control" type="text" [(ngModel)]="inputRecog">
  </div>
  <button class="btn btn-light mb-2" (click)="recognize()" disabled>Reconhecer (Não está pronto ainda)</button>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">Passo</th>
      <th class="text-center" scope="col">Pilha</th>
      <th class="text-center" scope="col">Relação</th>
      <th class="text-center" scope="col">Entrada</th>
      <th class="text-center" scope="col">Handle</th>
      <th class="text-center" scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableRow; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{row.stack}}</td>
      <td class="text-center">{{row.relation}}</td>
      <td class="text-right">{{row.input}}</td>
      <td class="text-center">{{row.handle}}</td>
      <td>{{row.action}}</td>
    </tr>
  </tbody>
</table>