<h3>Tabela de Reconhecimento</h3>

<label for="inputRecognition">Entrada: </label>
<input id="inputRecognition" type="text" [(ngModel)]="inputRecog">
<button (click)="reconize()" >Reconhecer</button>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Pilha</th>
        <th scope="col">Entrada</th>
        <th scope="col">Saida</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>