<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="position: relative">
  <a class="navbar-brand" href="#">
    <img src="https://unisc.br/images/unisc_transp.png" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <strong>Trabalho Análise Semantica - Compiladores - Profa. Dra. Andrea Konzen</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">        
        <a class="nav-link" routerLink="analise-preditiva">Analise Preditiva <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="precedencia-operadores">Precedência de Operadores</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>



