<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://unisc.br/images/unisc_transp.png" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <strong>Trabalho Análise Semantica - Compiladores</strong>
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="container" style="text-align:center">
  <h1>
    Trabalho Analise Semantica - Compiladores
  </h1>
  <h2>Andra Konza</h2>  
</div> -->

<app-grammar></app-grammar>

