<div class="container">
  <div class="row">
    <div class="col-6">      
      <div class="form-group">
        <h3>Manipulador de Gramatica</h3>
        <label for="comment">Insira a Gramatica:</label>
        <textarea class="form-control txt-grammar" [(ngModel)]="textArea" placeholder="Digite a gramatia aqui."></textarea>
      </div>
      <!-- 
      <div class="row">
        <div class="col">
          <button type="button" (click)="reconhecer()" class="btn btn-outline-dark btn-grammar" disabled>Reconhecer</button>
          <button type="button" (click)="gerarSent()" class="btn btn-outline-dark btn-grammar" disabled>Gerar Sentenças</button>
        </div>
      </div>
      -->
    </div>
    <div class="col-6">
      <h3>Manual</h3>
      <p>O manual pode ser acessado neste link:<br><a href="https://docs.google.com/document/d/1M_eK21grBoxN4A99VNgBBrAJE_eE1RU1nw9V67GBqQc/edit?usp=sharing">https://docs.google.com/document/d/1M_eK21grBoxN4A99VNgBBrAJE_eE1RU1nw9V67GBqQc/edit?usp=sharing</a> </p>
    </div>
  </div>
  <!-- 
  <div class="row">
    <div class="col-6">
      <app-language [grammar]=textArea></app-language>
    </div>
  </div>
  -->

  <hr>

  <h3>First e Follow</h3>
  <div class="row">    
    <div class="col-6">
      <app-first [grammar]=textArea></app-first>
    </div>

    <div class="col-6">
      <app-follow [grammar]=textArea></app-follow>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-prediction-table [grammarInput]=textArea></app-prediction-table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-recognition-table [grammar]=textArea></app-recognition-table>
    </div>
  </div>
</div>