<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <label for="comment">Insira a Gramatica:</label>
        <textarea class="form-control " rows="5" id="comment"></textarea>
        <div class="btn">
          <div class="row">
            <div class="col">
              <button type="button" (click)="reconhecer()"  class="btn btn-outline-dark">Reconhecer</button>
            </div>
            <div class="col">
              <button type="button" (click)="gerarSent()" class="btn btn-outline-dark">Gerar Sentenças</button>
            </div>
            <div class="col">
              <button type="button" (click)="gerarLing()"  class="btn btn-outline-dark">Gerar Linguagem</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <label for="comment">FIRST e FOLLOW:</label>
        <textarea class="form-control " rows="5" id="comment"></textarea>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-12">
        <p>Insira a Gramatica</p>
        <textarea class="txt-grammar" [(ngModel)]="textArea" placeholder="Exemple placeholder bla blu"></textarea>
    </div>
    <div class="col">
        <button (click)="reconhecer()" >Reconhecer</button>
        <button>Gerar Sentenças</button>
        <button>Gerar Linguagem</button>
    </div>
  </div>


</div> -->
